
bin/*
build*/
buildserver*/
buildclient*/
.directory
.mailmap
*.orig
*.rej
*~
.hg/
*.kdev*
.DS_Store
CMakeLists.txt.user
*.bak
*.patch
*.diff
*.REMOTE.*
*.BACKUP.*
*.BASE.*
*.LOCAL.*
nbproject/*
.idea/*
lib/Debug_Tools
lib/Release_Tools
lib/MinSizeRel
